.env
# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
ENV/
.venv/

# VSCode settings
.vscode/

# macOS
.DS_Store

# Environment variables
.env


# Database files (optional)
*.sqlite3
*.db

# Logs
*.log

# aiogram cache (agar foydalansangiz)
*.session

# Bytecode
*.pyc

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
coverage.xml

# PyInstaller
*.manifest
*.spec

# Pycharm
.idea/